[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/bufexplorer"]
	path = home/.vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
