[color]
	branch = auto
	diff = auto
	status = auto
[user]
	name = Tomek Maszkowski
	email = tomazy@go2.pl
[alias]
	st = status -sb
	co = checkout
	br = branch -a
	logx = log --graph --decorate --oneline
[gui]
	spellingdictionary = en
